@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  background-color: antiquewhite;
  padding: 2.5em;
}
p {
  font-size: 1.3rem;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
}
.welcomeText {
  font-size: 2rem;
  text-align: center;
}
.niceDay {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
.founders_btn {
  display: flex;
  background-color: aqua;
  color: white;
  border-radius: 10px;
  border: 3px solid aqua;
  padding: 15px 30px;
  cursor: pointer;
  margin: 20px auto;
  font-size: 18px;
}
.founders_btn:hover {
  background-color: white;
  color: aqua;
}
.founderImgs {
  display: none;
  justify-content: center;
  gap: 15px;
}
.foundersActive {
  display: flex;
}
.card {
  width: 200px;
  height: 250px;
  position: relative;
}
.founderText {
  position: absolute;
  bottom: 10px;
  left: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .founderImgs {
    display: none;
  }
  .foundersActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .founderImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  width: 100%;
}
.u_list {
  display: flex;
  gap: 2.5em;
}
.u_list a:hover {
  color: aqua;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .u_list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .u_list.active {
    left: 0;
  }
}
